<div align="center">

  # üêç **IntelliPaat - Python Basic Assignment**
  ---

  **üë®‚Äçüéì Name &rArr;** `Subhadip Hensh`  
  **üìÖ Date &rArr;** `May 02, 2025`  

  ---

  ## üìò **Module 1: Python Basics**

</div>

### **üìå Q1. Using Python script as a Calculator**

Create the variables `n`, `r`, and `p` and assign them the values `10`, `5`, and `100` respectively.  
Then, evaluate the following expression in the Python console:

$$
A = p \times \left(1 + \frac{r}{100}\right)^n
$$

#### **üî¢ Options :**
a) 100  
b) 162.89 ‚úÖ   
c) 189  
d) None of the above

In [1]:
n, r, p = 10, 5, 100

print(p * (1 + (r / 100)) ** n) # 162.89

162.8894626777442

### **üìå Q2.  In a given string format operation, how will you print the given string.**

`A = 10`  
`B = 20`  
`Str = "There are {} students in the class, with {} who play at least one sport."`

### **üî¢ Options :**
a) `print(Str.format(B, A))`  
b) `print(Str + A + B)`   
c) `print(Str.format(B, A))` ‚úÖ  
d) None of the above

In [2]:
A = 10
B = 20

Str = "There are {} students in the class, with {} who play at least one sport."

print(Str.format(B, A))

There are 20 students in the class, with 10 who play at least one sport.

### **üìå Q3. In a given sample string, how do you print a double-quoted string in between a regular string using the escape character?**



#### **Sample Output :**
`It goes without saying, ‚ÄúTime is Money‚Äù, and none can deny it.`


#### **üî§ Options :**
a) `print("It goes without saying, \"Time is Money\", and none can deny it.")` ‚úÖ  
b) `print("It goes without saying, \Time is Money\, and none can deny it.")`  
c) `print("It goes without saying" + "Time is Money" + "and none can deny it.")`  
d) None of the above

In [3]:
print("It goes without saying, \"Time is Money\", and none can deny it.")

It goes without saying, "Time is Money", and none can deny it.

### üìå **Q4. What will be the output of the following code?**

```python
x = lambda a, b: a // b
x(10, 3)
```
#### **üî§ Options :**
a) 3.3333333333   
b) 3 ‚úÖ    
c) 30   
d) 1000

In [4]:
x = lambda a, b: a // b
x(10, 3)  # 3

3

### üìå **Q5. What will be the output of the following code?**



```python
A = 10
B = 12
print("Smaller") if A == B else print("Greater") if A < B else print("True")
```
#### **üî¢ Options :**
a) True   
b) Smaller    
c) Greater ‚úÖ    
d) None of the above

In [5]:
A = 10
B = 12
print("Smaller") if A == B else print("Greater") if A < B else print("True")

Greater

### üìå **Q5. What will be the output of the following code?**

```python
import os
import numpy as np
my_list1 = [2,7,3,5,4,6]
print(my_list1)
arr_1 = numpy.array(my_list1, dtype = int)
print(arr_1)
```
#### **üî¢ Options :**
a) `[2 7 3 5 4 6]`  
b) `TypeError`  
c) `NameError: name 'numpy' is not defined` ‚úÖ   
d) None of the above

In [6]:
import os
import numpy as np
my_list1 = [2,7,3,5,4,6]
print(my_list1)
arr_1 = numpy.array(my_list1, dtype = int)
print(arr_1)

[2, 7, 3, 5, 4, 6]

NameError: name 'numpy' is not defined

In [11]:
# Correct Implementation of the code will be
import os
import numpy as np
my_list1 = [2,7,3,5,4,6]
print(my_list1)
arr_1 = np.array(my_list1, dtype = int) # change numpy to np
print(arr_1)

[2, 7, 3, 5, 4, 6]
[2 7 3 5 4 6]

### **üìå Q7. Create a string called `string` with the value as `Machine Learning`. Which code(s) is/are appropriate to slice the substring `Learn`?**

#### **üî¢ Options :**
a. `string[slice(13,8,1)]`  
b. `string[slice(1,8,1)]`   
c. `string[8:14]`   
d. `string[slice(8,13,1)]` ‚úÖ

In [12]:
string = "Machine Learning"

string[slice(8,13,1)]   # Learn

'Learn'

### **üìå Q8. Create a sequence of numbers from 10 to 25 and increment by 4. What is the index of the value 18?**

#### **üî¢ Options:**
a) `3`  
b) `2` ‚úÖ  
c) `0`  
d) `1`

In [13]:
seq = list(range(10, 25, 4))
print(seq)
print(seq.index(18))

[10, 14, 18, 22]
2

### **üìå Q9. Which of the following is true with respect to the below codes?**

```python
num1 = 5 ** 4
num2 = pow(5,4)
print(num1,num2)
```

#### **üî¢ Options:**
a) `num1 = num2` ‚úÖ   
b) `num1 ‚â† num2`    
c) `num1 < num2`    
d) `num1 > num2`

In [14]:
num1 = 5 ** 4
num2 = pow(5,4)
print(num1,num2)

625 625

### **üìå Q10. A Python NameError exception is raised when: -**

#### **üî¢ Options:**
a) Trying to access a variable which has not been defined ‚úÖ  
b) Trying to access a key in a dictionary that does not exist  
c) Accessing a column with misspelled column name  
d) Accessing the function from a module that has not been imported

### **üìå Q11. What type of exception will be raised for the code given below?**

```python
x = "string"
int(x)
```
#### **üî¢ Options :**
a) NameError    
b) KeyError   
c) ValueError ‚úÖ  
d) AttributeError

In [15]:
x = "string"
int(x)

ValueError: invalid literal for int() with base 10: 'string'

### **üìå Q12. A `FileNotFoundError` exception is raised by operating system errors when:-**

#### **üî¢ Options :**
a) Trying to create a file or directory which already exists  
b) A file or directory is requested but does not exist in the working directory ‚úÖ  
c) Trying to run an operation without the adequate access rights  
d) A directory operation, `os.listdir()` is requested on something which is not a directory

In [16]:
with open('nonexistent_file.txt', 'r') as f:
    print(f.read())

FileNotFoundError: [Errno 2] No such file or directory: 'nonexistent_file.txt'

### **üìå Q13. Consider a variable `Z`. The value of `Z` is `"ID-5632"`. What is the data type of `Z`?**

#### **üî¢ Options :**
a) Complex  
b) Character  
c) Integer  
d) Boolean  

---

### ‚úÖ Correct Answer: `None of the above`  
Although `"Character"` might sound close, Python **doesn't have a separate 'character' data type** like other languages.  
Everything in quotes (single or double) is considered a **string (`str`)**.

#### üîç Explanation:
```python
Z = "ID-5632"
print(type(Z))  # Output: <class 'str'>
```
<p>So if here <code>Character</code> refers to <code>String</code> then <code>Character</code> will be the correct answer ‚úÖ</p>
---

In [17]:
Z = "ID-5632"
print(type(Z))

<class 'str'>

### **üìå Q14. Which of the following variable(s) are character data type?**

#### **üî¢ Options :**
a) `K = "4"`  
b) `J = "Welcome"`  
c) `L = "?"`  
d) All of the above ‚úÖ

---

### **‚úÖ Correct Answer :** d) All of the above  

#### üîç Explanation:
In Python, anything enclosed in quotes (`' '` or `" "`) is considered a **string** (`str`) ‚Äî even if it contains:
- A digit (`"4"`)
- A word (`"Welcome"`)
- A symbol (`"?"`)

```python
print(type("4"))       # <class 'str'>
print(type("Welcome")) # <class 'str'>
print(type("?"))       # <class 'str'>

### **üìå Q15. Choose the symbol(s) that _do not_ have the ability to convert any values to a string :**

#### **üî¢ Options :**
a) `( )` ‚úÖ  
b) `" "`  
c) `{}`  
d) `#`‚úÖ  

---

### **‚úÖ Correct Answers :**  
a) `( )`  
d) `#`  

---

### **üîç Explanation :**

| Symbol | Description | String Conversion Ability |
|--------|-------------|---------------------------|
| `( )`  | Parentheses used in expressions or grouping ‚Äî not for conversion | ‚ùå |
| `" "`  | Quotation marks create string literals | ‚úÖ |
| `{}`   | Used in string formatting (e.g., f-strings, `.format()`) | ‚úÖ |
| `#`    | Denotes a comment in Python ‚Äî ignored during execution | ‚ùå |

#### üß™ Code Example:
```python
value = 100

# ‚úÖ Converts value to string
print("Value is: {}".format(value))  
print("Value is: " + str(value))     

# ‚ùå These do not convert
(100)     # Just a number inside parentheses
# 100     # This is a comment, not executed

In [18]:
value = 100

# ‚úÖ Converts value to string
print("Value is: {}".format(value))
print("Value is: " + str(value))

# ‚ùå These do not convert
(100)     # Just a number inside parentheses
# 100     # This is a comment, not executed

Value is: 100
Value is: 100

100

### **üìå Q16. Create a dictionary `Country` that maps the following countries to their respective capitals :**

#### **üó∫Ô∏è Country to Capital Mapping :**
  | Country  | Capital     |
  |----------|-------------|
  | India    | Delhi       |
  | China    | Beijing     |
  | Japan    | Tokyo       |
  | Qatar    | Doha        |
  | France   | Marseilles  |

---

Find **two commands** to replace `"Marseilles"` with `"Paris"` for the key `"France"`.

In [20]:
Country = {
    "India" : "Delhi",
    "China" : "Beijing",
    "Japan" : "Tokyo",
    "Qatar" : "Doha",
    "France" : "Marseilles"
}
print(Country)

# Method 1: Direct assignment
Country["France"] = "Paris"
print(Country)

# Method 2: Using the update() method
Country.update({"France": "Paris"})
print(Country)

{'India': 'Delhi', 'China': 'Beijing', 'Japan': 'Tokyo', 'Qatar': 'Doha', 'France': 'Marseilles'}
{'India': 'Delhi', 'China': 'Beijing', 'Japan': 'Tokyo', 'Qatar': 'Doha', 'France': 'Paris'}
{'India': 'Delhi', 'China': 'Beijing', 'Japan': 'Tokyo', 'Qatar': 'Doha', 'France': 'Paris'}

### **üìå Q17. Create the tuples given below**

```python
tuple_1 = (1, 5, 6, 7, 8)
tuple_2 = (8, 9, 4)
```
**Identify which of the following code does not work on a tuple.**

a. `sum(tuple_1)`     
b. `len(tuple_2)`   
c. `tuple_2 + tuple_1`    
d. `tuple_1[3] = 45` ‚ùå

In [25]:
tuple_1 = (1, 5, 6, 7, 8)
tuple_2 = (8, 9, 4)

print(sum(tuple_1))
print(len(tuple_2))
print(tuple_2 + tuple_1)
#tuple_1[3] = 45   # Error! Tuples are immutable, so you cannot change individual elements.

27
3
(8, 9, 4, 1, 5, 6, 7, 8)

### **üìå Q18. How many elements in the following data structure?**

```python
S = {1,2,3,4,4,4,5,6}
```

#### **Answer :** `6`‚úÖ
---
#### **Explaination :**

*In Python, a set is an unordered collection of unique elements.*
*Even though 4 is repeated multiple times, it is stored only once in the set.*

*So the set effectively becomes:*

```bash
{1,2,3,4,5,6}
```

In [26]:
S = {1,2,3,4,4,4,5,6}
print(len(S))

6

### **üìå Q19.Write a function which finds all pythagorean triplets of triangles whose sides are no greater than a natural number N.**

In [31]:
def pythagorean_triplets(num):
  triplets = []
  for a in range(1, num + 1):
    for b in range(a , num + 1):
      c_square = a ** 2 + b ** 2
      c = int(c_square ** 0.5)
      if c <= num and c ** 2 == c_square:
        triplets.append((a, b, c))

  for triplet in triplets:
    print(triplet)

In [34]:
pythagorean_triplets(10)

(3, 4, 5)
(6, 8, 10)

---
### **üìÖ Sumission Date :** `04-05-2025`
---