<a href="https://colab.research.google.com/github/07subhadip/Python_Intellipaat_Course/blob/main/Python_Intellipath.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **Day 1 : Installation and Python Basics Started**

In [ ]:
print("hello world")

hello world

## **Variable**

In [ ]:
number = 10
print(number)

10

## **Rules for declaring variable**

- Can't start with a number but can use number in other place
- Only can use `_` underscore but not other symbols ro any white space
- Case Sensitive (`NAME`, `Name`, `name` are different)

In [ ]:
name = 'Subhadip'
Name = 'Anupam'

print(name, Name)

Subhadip Anupam

In [ ]:
_value = 20
print(_value)

20

In [ ]:
#3school = 'BCCS'  # This is not allowed

In [ ]:
school3 = 'BCCS'  # This is allowed
print(school3)

BCCS

# **Day 2**

## **Data Types**
- Integer Data Type
- Float Data Type
- Text Data Type
- Boolean Data

## **Numeric Data-types**

In [ ]:
# integer - positive and negative number including 0

num1 = 10
num2 = 0
num3 = -20

print(num1)
print(num2)
print(num3)

print(type(num1))
print(type(num2))
print(type(num3))

10
0
-20
<class 'int'>
<class 'int'>
<class 'int'>

In [ ]:
# float-data - positive and negative decimal number
num1 = 23.5
num2 = -75.6

print(num1)
print(num2)

print(type(num1))
print(type(num2))

23.5
-75.6
<class 'float'>
<class 'float'>

## **Text Data Type**
- String
  - To write the string we can use `' '` or `" "`

In [ ]:
name = 'Subhadip'
print(type(name))

num = "23"
print(type(num))

string = """
This is line 1
this is line 2
"""

print(string)

<class 'str'>
<class 'str'>

This is line 1
this is line 2

## **Boolean Data**
- `True`
- `False`

**Note** : T and F will be in Capital in `True` and `False`

In [ ]:
x = True
y = False
print(x)
print(y)

print(type(x))
print(type(y))

True
False
<class 'bool'>
<class 'bool'>

## **Comments**

In [ ]:
# I am Printing Hello World
print("Hello\n World")

Hello
 World

In [ ]:
'''
Multi Line Comments
abcs
1234
fdfd
'''
print("Hello World")

Hello World

## **Type Casting**
To change a data from one data type to another data type

In [ ]:
num = 10
print(type(num))

num2 = float(num)
print(type(num2))

num3 = str(num2)
print(type(num3))

<class 'int'>
<class 'float'>
<class 'str'>

## **User Input**
- By default it takes String

In [ ]:
name = input("Enter Your Name : ")
print(name)

Enter Your Name : subhadip
subhadip

In [ ]:
num = int(input("Enter a number : "))
print(num)
print(type(num))

Enter a number : 24
24
<class 'int'>

## **Operators**
- *Arithmatic Operators*
- *Assingment Operators*
- *Conditional Operators*

## **Arithmatic Operator**
- + , - , * , / , // , ** , %

In [ ]:
num = 10
print("Addition : ",num+5)

Addition :  15

In [ ]:
num = 10
print("Subtraction : ",num - 5)

Subtraction :  5

In [ ]:
num = 10
print("Multiplication : ",num * 8)

Multiplication :  80

In [ ]:
num = 17
print("Division :",num / 3)

Division : 5.666666666666667

In [ ]:
num = 17
print("Floor Division // :",num // 3)

Floor Division // : 5

In [ ]:
num = 10
print("Modulus :",num%3)

Modulus : 1

In [ ]:
num = 10
print("Power :",num**2)

Power : 100

## **Assignment Operators**
- = , += , -= , *= , /= , //= , %=

In [ ]:
num = 10

num += 5
print(num)

num -= 5
print(num)

num *= 10
print(num)

num /= 2
print(num)

num //= 3
print(num)

num **= 2
print(num)

num %= 2
print(num)

15
10
100
50.0
16.0
256.0
0.0

## **Comparison Operators**
- these are the conditional operators --> [ > , < , == , >= , <= , != ]

In [ ]:
x = 10
y = 7

print(x > y)
print(x < y)
print(x == y)
print(x >= y)
print(x <= y)
print(x != y)

True
False
False
True
False
True

## **Logical Operator**
- and , or , not

In [ ]:
x = True
y = False

print(x and y)
print(x or y)
print(not x)
print(not y)

False
True
False
True

# **Day 3**

## **Membership Operators**
- It tells about the value whether they are member of (list, tuple, string etc.) or not
- in, not in

In [ ]:
fruitBasket = ['Apple','Mango','Grapes','SugerCane']

print('Apple' in fruitBasket)
print('Banana' in fruitBasket)
print('Apple' not in fruitBasket)

True
False
False

## **Identity Operators**
- Checks if two variables reference the same object in memory.
- is , is not

In [ ]:
x = [1,2,3]
y = [1,2,3]

z = x

print(x is y)
print(id(x))  # id() used to see the memory location
print(id(y))

print(z is x)
print(id(x))
print(id(z))

False
139811695023872
139811695020928
True
139811695023872
139811695023872

## **Sequential Data Types**
- List
- Tuple
- String

## **Unsequential Data Types**
- Dict
- Set

## **Unsequential Data Type**
### **Dictionary**
- In Dictionary We have Key-Value pairs

In [ ]:
person = {
    "Name" : "Subhadip",
    "Age" : 24,
    "Job" : "AI Engineer",
    "Country" : "India"
}

print(type(person))
print(person)

<class 'dict'>
{'Name': 'Subhadip', 'Age': 24, 'Job': 'AI Engineer', 'Country': 'India'}

In [ ]:
# I want to see the age of the person
# Keys are used to access the values present inside your dictionary
print(person['Age'])
# I want to see Country of the person
print(person['Country'])

24
India

In [ ]:
person['Salary'] = 10000
print(person)

{'Name': 'Subhadip', 'Age': 24, 'Job': 'AI Engineer', 'Country': 'India', 'Salary': 10000}

In [ ]:
# I want to change Age of the person
person['Age'] = 20
print(person)

{'Name': 'Subhadip', 'Age': 20, 'Job': 'AI Engineer', 'Country': 'India', 'Salary': 10000}

In [ ]:
# I want to delete Job of the Person
person.pop('Job')
print(person)
del person['Country']
print(person)

{'Name': 'Subhadip', 'Age': 20, 'Country': 'India', 'Salary': 10000}
{'Name': 'Subhadip', 'Age': 20, 'Salary': 10000}

## **Task**
- Create a dictionary with Name, Age, Hobbies then Add a new Key in the dictioanry and then update the age to 27 and then delete the Hobbies

In [4]:
# Creating a dictionary with Name , Age , Hobbies
metaData = {
    "Name":"Subhadip",
    "Age":24,
    "Hobbies":["Cricket","Chess","Badminton","Coding","Comics"],
}
print(metaData)

# Adding a new key in the metaData dictionary
metaData.update({"Favourite Movie":"Harry Potter"})
# Alternative
# metaData["Favourite Movie"] = "Harry Potter"
print(metaData)

# Updating the Age value to 27
metaData['Age'] = 27
print(metaData['Age'])

# Deleting the Hobbies
metaData.pop('Hobbies')
# Alternative
# del metaData["Hobbies"]
print(metaData)

{'Name': 'Subhadip', 'Age': 24, 'Hobbies': ['Cricket', 'Chess', 'Badminton', 'Coding', 'Comics']}
{'Name': 'Subhadip', 'Age': 24, 'Hobbies': ['Cricket', 'Chess', 'Badminton', 'Coding', 'Comics'], 'Favourite Movie': 'Harry Potter'}
27
{'Name': 'Subhadip', 'Age': 27, 'Favourite Movie': 'Harry Potter'}

## **Methods in Dictionary**
- `keys()` -  to get all keys present in the Dictionary
- `values()` -  to get all values present in the Dictionary
- `items()` - to get all key value pairs from the Dictionary

In [ ]:
print(person.keys())
print(person.values())
print(person.items())

dict_keys(['Name', 'Age', 'Salary'])
dict_values(['Subhadip', 20, 10000])
dict_items([('Name', 'Subhadip'), ('Age', 20), ('Salary', 10000)])

In [ ]:
# Taking input in a Dicitnary
person={}
key1=input("Enter your key")
value1=input("Enter the value")
key2=input("Enter your key2")
value2=input("Enter the value2")
person[key1]=value1
person[key2]=value2
print(person)

Enter your keyname
Enter the valuesubhadip
Enter your key2age
Enter the value224
{'name': 'subhadip', 'age': '24'}

## **Mutable** : The Data Tyes that can be manipulated (adding, deleting, updating) after creation

## **Immutabel** : The Data Type that can't be manipulated after cration

## **Sets**
- Sets are unordered unique collection of data elements

In [ ]:
data = {1,2,3,4,5,6,7,'subhadip','apple',3,4,'kolkata'}
print(data)

{1, 2, 3, 4, 5, 6, 7, 'kolkata', 'subhadip', 'apple'}

In [ ]:
# add banana to the set
data.add('banana')
print(data)

{1, 2, 3, 4, 5, 6, 7, 'kolkata', 'subhadip', 'apple', 'banana'}

In [ ]:
# remove apple from set
data.remove('apple')
print(data)

{1, 2, 3, 4, 5, 6, 7, 'kolkata', 'subhadip', 'banana'}

## **Set Methods**
- `union` ( ' `&` ' )
- `intersection` ( ' `|` ' )

In [6]:
a = {1,2,3,4,5}
b = {4,5,6,7,8}

print(a.union(b))
print(a | b)  # Sign of Union ' | '
print(a.intersection(b))
print(a & b)  # Sign of Intersection ' & '

{1, 2, 3, 4, 5, 6, 7, 8}
{1, 2, 3, 4, 5, 6, 7, 8}
{4, 5}
{4, 5}

# **Day 4**

## **Problems with Sets**
- No Indexing
- Unordered
- No Duplicates
- Unchangeable

## **Lists**

- Lists are Ordered
- Allow Duplicates
- Mutable
- Has Indexing

In [7]:
# Syntax- We use [] (Square Brackets)
fruits = ['apple','banana','mango','kiwi','apple','mango']
print(fruits)

['apple', 'banana', 'mango', 'kiwi', 'apple', 'mango']

In [8]:
# Adding a new value - .append()
fruits.append('pineapple')
print(fruits)

['apple', 'banana', 'mango', 'kiwi', 'apple', 'mango', 'pineapple']

In [9]:
# Remove a value - .remove()
fruits.remove('banana')
print(fruits)

['apple', 'mango', 'kiwi', 'apple', 'mango', 'pineapple']

## **Indexing**
- Gives the position of element
- Indexing Starts from 0
- Negative Indexing Starts from -1

In [11]:
li = [23,56,39,'Apple',True,'Mango']
print(li[4])
print(li[1])

True
56

## **Slicing**
`list_name[ start : stop + 1 : step ]`

In [23]:
val = ['s','t',67,90,45,'apple',True]
print(val[2:6])
print(val[-5:-1])
print(val[-5:])
print(val[1:-1])
print(val[:])
print(val[::-1])  # Reversing a list

[67, 90, 45, 'apple']
[67, 90, 45, 'apple']
[67, 90, 45, 'apple', True]
['t', 67, 90, 45, 'apple']
['s', 't', 67, 90, 45, 'apple', True]
[True, 'apple', 45, 90, 67, 't', 's']

### *Inserting element at given index*

In [26]:
print(fruits)
fruits.insert(1,'pineapple')
print(fruits)

['apple', 'mango', 'pineapple', 'kiwi', 'apple', 'mango', 'pineapple']
['apple', 'pineapple', 'mango', 'pineapple', 'kiwi', 'apple', 'mango', 'pineapple']

In [28]:
# Update value in list
fruits[2] = "orange"
print(fruits)

['apple', 'pineapple', 'orange', 'pineapple', 'kiwi', 'apple', 'mango', 'pineapple']

## **Tuples**
- It Stores multiple values of different types
- It allows indexing
- Tuples are immutable (cannot modify)
- Use `( )` rounded breackets fro Tuple
- Allows Indexing

In [33]:
tup = (1,2,3,'apple','mango','apple','apple')
print(tup)
print(tup[3])

(1, 2, 3, 'apple', 'mango', 'apple', 'apple')
apple

## **Tuple Methods**
- `count()`
- `index()`

In [39]:
print(tup.count('apple'))  # Count frequency of an element
print(tup.index('apple'))  # Gives the first index of given element
print(tup.index('apple',3+1)) # Get the 2nd occurence (first_index + nth_occurence-1)

3
3
5

## **Strings**
- Text type data
- Follows Indexing

In [49]:
name = 'Subhadip Hensh'
first_name = name[:8]
last_name = name[9:]
print(first_name)
print(last_name)
print(first_name,last_name)

Subhadip
Hensh
Subhadip Hensh

## **Tasks**
- Create two sets and do the following
  - union of the two sets
  - intersection of the two sets

- Create a list of 5 elements and print it
  - Access the 3rd element from the list
  - remove the last element from the list
  - insert 85 at index 4
  - add some value using append method

- Create a tuple of 5 elements
  - Count the occurence of an element
  - find the index of a particular element