<a href="https://colab.research.google.com/github/07subhadip/Python_Intellipaat_Course/blob/main/Python_Intellipath.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Day 1 : Installation and Python Basics Started

In [134]:
print("hello world")

hello world

## Variable

In [135]:
number = 10
print(number)

10

## Rules for declaring variable

- Can't start with a number but can use number in other place
- Only can use '_' underscore but not other symbols ro any white space
- Case Sensitive (NAME, Name, name are different)

In [136]:
name = 'Subhadip'
Name = 'Anusuya'

print(name, Name)

Subhadip Anusuya

In [137]:
_value = 20
print(_value)

20

In [138]:
#3school = 'BCCS'  # This is not allowed

In [139]:
school3 = 'BCCS'  # This is allowed
print(school3)

BCCS

## Day 2 :

## Data Types
- Integer Data Type
- Float Data Type
- Text Data Type
- Boolean Data

## Numeric Data-types

In [140]:
# integer - positive and negative number including 0

num1 = 10
num2 = 0
num3 = -20

print(num1)
print(num2)
print(num3)

print(type(num1))
print(type(num2))
print(type(num3))

10
0
-20
<class 'int'>
<class 'int'>
<class 'int'>

In [141]:
# float-data - positive and negative decimal number
num1 = 23.5
num2 = -75.6

print(num1)
print(num2)

print(type(num1))
print(type(num2))

23.5
-75.6
<class 'float'>
<class 'float'>

## Text Data Type
String
To write the string
'' or ""

In [142]:
name = 'Subhadip'
print(type(name))

num = "23"
print(type(num))

string = """
This is line 1
this is line 2
"""

print(string)

<class 'str'>
<class 'str'>

This is line 1
this is line 2

## Boolean Data
- True
- False

note : T and F will be in Capital in True and False

In [143]:
x = True
y = False
print(x)
print(y)

print(type(x))
print(type(y))

True
False
<class 'bool'>
<class 'bool'>

## Comments

In [144]:
# I am Printing Hello World
print("Hello\n World")

Hello
 World

In [145]:
'''
Multi Line Comments
abcs
1234
fdfd
'''
print("Hello World")

Hello World

## Type Casting
To change a data from one data type to another data type

In [146]:
num = 10
print(type(num))

num2 = float(num)
print(type(num2))

num3 = str(num2)
print(type(num3))

<class 'int'>
<class 'float'>
<class 'str'>

## User Input
- By default it takes String

In [147]:
name = input("Enter Your Name : ")
print(name)

Enter Your Name : 12
12

In [148]:
num = int(input("Enter a number : "))
print(num)
print(type(num))

Enter a number : 12
12
<class 'int'>

## Operators
- Arithmatic Operators
- Assingment Operators
- Conditional Operators

## Arithmatic Operator
- + , - , * , / , // , ** , %

In [149]:
num = 10
print("Addition : ",num+5)

Addition :  15

In [150]:
num = 10
print("Subtraction : ",num - 5)

Subtraction :  5

In [151]:
num = 10
print("Multiplication : ",num * 8)

Multiplication :  80

In [152]:
num = 17
print("Division :",num / 3)

Division : 5.666666666666667

In [153]:
num = 17
print("Division using // :",num // 3)

Division using // : 5

In [154]:
num = 10
print("Modulus :",num%3)

Modulus : 1

In [155]:
num = 10
print("Power :",num**2)

Power : 100

## Assignment Operators
- = , += , -= , *= , /= , //= , %=

In [156]:
num = 10

num += 5
print(num)

num -= 5
print(num)

num *= 10
print(num)

num /= 2
print(num)

num //= 3
print(num)

num **= 2
print(num)

num %= 2
print(num)

15
10
100
50.0
16.0
256.0
0.0

## Comparison Operators
- these are the conditional operators --> [ > , < , == , >= , <= , != ]

In [157]:
x = 10
y = 7

print(x > y)
print(x < y)
print(x == y)
print(x >= y)
print(x <= y)
print(x != y)

True
False
False
True
False
True

## Logical Operator
- and , or , not

In [158]:
x = True
y = False

print(x and y)
print(x or y)
print(not x)
print(not y)

False
True
False
True