<a href="https://colab.research.google.com/github/07subhadip/Python_Intellipaat_Course/blob/main/Python_Intellipath.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Day 1 : Installation and Python Basics Started

In [34]:
print("hello world")

hello world

## Variable

In [35]:
number = 10
print(number)

10

## Rules for declaring variable

- Can't start with a number but can use number in other place
- Only can use '_' underscore but not other symbols ro any white space
- Case Sensitive (NAME, Name, name are different)

In [36]:
name = 'Subhadip'
Name = 'Anupam'

print(name, Name)

Subhadip Anupam

In [37]:
_value = 20
print(_value)

20

In [38]:
#3school = 'BCCS'  # This is not allowed

In [39]:
school3 = 'BCCS'  # This is allowed
print(school3)

BCCS

## Day 2 :

## Data Types
- Integer Data Type
- Float Data Type
- Text Data Type
- Boolean Data

## Numeric Data-types

In [40]:
# integer - positive and negative number including 0

num1 = 10
num2 = 0
num3 = -20

print(num1)
print(num2)
print(num3)

print(type(num1))
print(type(num2))
print(type(num3))

10
0
-20
<class 'int'>
<class 'int'>
<class 'int'>

In [41]:
# float-data - positive and negative decimal number
num1 = 23.5
num2 = -75.6

print(num1)
print(num2)

print(type(num1))
print(type(num2))

23.5
-75.6
<class 'float'>
<class 'float'>

## Text Data Type
String
To write the string
'' or ""

In [42]:
name = 'Subhadip'
print(type(name))

num = "23"
print(type(num))

string = """
This is line 1
this is line 2
"""

print(string)

<class 'str'>
<class 'str'>

This is line 1
this is line 2

## Boolean Data
- True
- False

note : T and F will be in Capital in True and False

In [43]:
x = True
y = False
print(x)
print(y)

print(type(x))
print(type(y))

True
False
<class 'bool'>
<class 'bool'>

## Comments

In [44]:
# I am Printing Hello World
print("Hello\n World")

Hello
 World

In [45]:
'''
Multi Line Comments
abcs
1234
fdfd
'''
print("Hello World")

Hello World

## Type Casting
To change a data from one data type to another data type

In [46]:
num = 10
print(type(num))

num2 = float(num)
print(type(num2))

num3 = str(num2)
print(type(num3))

<class 'int'>
<class 'float'>
<class 'str'>

## User Input
- By default it takes String

In [47]:
name = input("Enter Your Name : ")
print(name)

Enter Your Name : subhadip
subhadip

In [48]:
num = int(input("Enter a number : "))
print(num)
print(type(num))

Enter a number : 24
24
<class 'int'>

## Operators
- Arithmatic Operators
- Assingment Operators
- Conditional Operators

## Arithmatic Operator
- + , - , * , / , // , ** , %

In [49]:
num = 10
print("Addition : ",num+5)

Addition :  15

In [50]:
num = 10
print("Subtraction : ",num - 5)

Subtraction :  5

In [51]:
num = 10
print("Multiplication : ",num * 8)

Multiplication :  80

In [52]:
num = 17
print("Division :",num / 3)

Division : 5.666666666666667

In [53]:
num = 17
print("Floor Division // :",num // 3)

Floor Division // : 5

In [54]:
num = 10
print("Modulus :",num%3)

Modulus : 1

In [55]:
num = 10
print("Power :",num**2)

Power : 100

## Assignment Operators
- = , += , -= , *= , /= , //= , %=

In [56]:
num = 10

num += 5
print(num)

num -= 5
print(num)

num *= 10
print(num)

num /= 2
print(num)

num //= 3
print(num)

num **= 2
print(num)

num %= 2
print(num)

15
10
100
50.0
16.0
256.0
0.0

## Comparison Operators
- these are the conditional operators --> [ > , < , == , >= , <= , != ]

In [57]:
x = 10
y = 7

print(x > y)
print(x < y)
print(x == y)
print(x >= y)
print(x <= y)
print(x != y)

True
False
False
True
False
True

## Logical Operator
- and , or , not

In [58]:
x = True
y = False

print(x and y)
print(x or y)
print(not x)
print(not y)

False
True
False
True

## Day 3

## Membership Operators
- It tells about the value whether they are member of (list, tuple, string etc.) or not
- in, not in

In [59]:
fruitBasket = ['Apple','Mango','Grapes','SugerCane']

print('Apple' in fruitBasket)
print('Banana' in fruitBasket)
print('Apple' not in fruitBasket)

True
False
False

## Identity Operators
- Checks if two variables reference the same object in memory.
- is , is not

In [60]:
x = [1,2,3]
y = [1,2,3]

z = x

print(x is y)
print(id(x))  # id() used to see the memory location
print(id(y))

print(z is x)
print(id(x))
print(id(z))

False
139811695023872
139811695020928
True
139811695023872
139811695023872

## Sequential Data Types
- List
- Tuple
- String

## Unsequential Data Types
- Dict
- Set

## Unsequential Data Type
### Dictionary
- In Dictionary We have Key-Value pairs

In [61]:
person = {
    "Name" : "Subhadip",
    "Age" : 24,
    "Job" : "AI Engineer",
    "Country" : "India"
}

print(type(person))
print(person)

<class 'dict'>
{'Name': 'Subhadip', 'Age': 24, 'Job': 'AI Engineer', 'Country': 'India'}

In [62]:
# I want to see the age of the person
# Keys are used to access the values present inside your dictionary
print(person['Age'])
# I want to see Country of the person
print(person['Country'])

24
India

In [63]:
person['Salary'] = 10000
print(person)

{'Name': 'Subhadip', 'Age': 24, 'Job': 'AI Engineer', 'Country': 'India', 'Salary': 10000}

In [64]:
# I want to change Age of the person
person['Age'] = 20
print(person)

{'Name': 'Subhadip', 'Age': 20, 'Job': 'AI Engineer', 'Country': 'India', 'Salary': 10000}

In [65]:
# I want to delete Job of the Person
person.pop('Job')
print(person)
del person['Country']
print(person)

{'Name': 'Subhadip', 'Age': 20, 'Country': 'India', 'Salary': 10000}
{'Name': 'Subhadip', 'Age': 20, 'Salary': 10000}

### Task
- Create a dictionary with Name, Age, Hobbies then Add a new Key in the dictioanry and then update the age to 27 and then delete the Hobbies

## Methods in Dictionary
- keys() -  to get all keys present in the Dictionary
- values() -  to get all values present in the Dictionary
- items() - to get all key value pairs from the Dictionary

In [66]:
print(person.keys())
print(person.values())
print(person.items())

dict_keys(['Name', 'Age', 'Salary'])
dict_values(['Subhadip', 20, 10000])
dict_items([('Name', 'Subhadip'), ('Age', 20), ('Salary', 10000)])

In [67]:
# Taking input in a Dicitnary
person={}
key1=input("Enter your key")
value1=input("Enter the value")
key2=input("Enter your key2")
value2=input("Enter the value2")
person[key1]=value1
person[key2]=value2
print(person)

Enter your keyname
Enter the valuesubhadip
Enter your key2age
Enter the value224
{'name': 'subhadip', 'age': '24'}

## Mutable : The Data Tyes that can be manipulated (adding, deleting, updating) after creation

## Immutabel : The Data Type that can't be manipulated after cration

## Sets
- Sets are unordered unique collection of data elements

In [68]:
data = {1,2,3,4,5,6,7,'subhadip','apple',3,4,'kolkata'}
print(data)

{1, 2, 3, 4, 5, 6, 7, 'kolkata', 'subhadip', 'apple'}

In [69]:
# add banana to the set
data.add('banana')
print(data)

{1, 2, 3, 4, 5, 6, 7, 'kolkata', 'subhadip', 'apple', 'banana'}

In [70]:
# remove apple from set
data.remove('apple')
print(data)

{1, 2, 3, 4, 5, 6, 7, 'kolkata', 'subhadip', 'banana'}

## Set Methods
- union ( ' & ' )
- intersection ( ' | ' )

In [71]:
a = {1,2,3,4,5}
b = {4,5,6,7,8}

print(a.union(b))
print(a.intersection(b))

{1, 2, 3, 4, 5, 6, 7, 8}
{4, 5}